.error {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;

  a {
    font-weight: bold;
    font-size: 30px;

    &:hover,
    &:focus {
        color: $main-color;
    }
  }
}

.error__main {
  display: flex;
  gap: 50px;
  align-items: center;
}

.error__text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 500px;
}

.error__image {
  max-width: 550px;

  img {
    object-fit: cover;
  }
}
